
.container-fluid {
    border-bottom: 2px solid #cccccc; 
}

body {
    background-image: url(qbkls.png);
}

.nav a {
    font-family: arial;
}

.navbar-brand { 
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bold;
}

.page-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    color: white;
    text-align: center;
}