body {
    background-image: url(qbkls.png);
}

.nav a {
    font-family: arial;
}

.navbar-brand { 
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    
}
.textOverlay {
    background: #4aaaa5;
}

.page-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
}

#footer {
    border-top: 8px solid #4aaaa5;
    background: #666666;
}

#formSubmitButton {
    background: #4aaaa5;
}

.card-title {
    background: #4aaaa5;
}